{% extends 'base.html' %}
{% block content %}

    <br>
    <br>
    <br>
    <h1><u>Welcome to To-Do Lists!</u></h1>
    <br>
    <p style="font-size: 27px">This project is about to create to-do lists.</p>
    <br>
    <ul style="font-size: 25px">
        <li>You can register to system.</li>
        <li>You can login to system.</li>
        <li>You can create a To-Do List category as lists.</li>
        <li>You can create To-Do List items for each To-Do List.</li>
        <li>You can order the To-Do Lists by Item Name clicking on 'Item Name' button on table.</li>
        <li>You can order the To-Do Lists by Created Date clicking on 'Created Date' button on table.</li>
        <li>You can order the To-Do Lists by Deadline clicking on 'Deadline' button on table.</li>
        <li>You can order the To-Do Lists by Status clicking on 'Status' button on table.</li>
        <li>You can delete To-Do List items.</li>
        <li>You can delete To-Do List.</li>
    </ul>

{% endblock %}
