{% extends "base.html" %}

{% block title %}
    Login Form
{% endblock %}

{% block content %}

    <form method="POST" class="form-group">
        {% csrf_token %}
        <br/>
        <br/>
        <div class="container center">
            <div class="card w-45 bg-secondary" style="height: 500px">
            <div class="card-body text-lg-center" >
                <br/>
                <br/>
                <br/>
                <br/>
                <h1 class="text-white">Login</h1>
                <hr class="bg-white" width="500px" />
                <br/>
                <input type="text" name="username" id="username" placeholder="Username">
                <br><br>
                <input type="Password" name="password" id="password" placeholder="Password">
                <br><br>
                <input type="submit" href="{% url 'login' %}" class="btn btn-success" name="log" id="log" value="Login">
            </div>
        </div>
        </div>

    </form>

{% endblock %}
